# Movie Classification

## 1. Web Scrapping

ทำการ Scrape โดยเลือกประเภทหนังเป็น Feature Film ในประเทศอเมริกา ตั้งแต่ปี 2018 ถึง 2021 ooooooooooooooooooo

In [1]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [16]:
page_movie = []

for i in [2018, 2019, 2020, 2021]:
    for j in range(1, 4200, 100):
        url = "https://www.imdb.com/search/title/?title_type=feature&release_date="+str(i)+"-01-01,"+str(i)+"-12-31&countries=us&sort=alpha,asc&count=100&start="+str(j)+"&ref_=adv_nxt"
        response = get(url)
        html_soup = BeautifulSoup(response.text, 'html.parser')
        movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')

        names = []
        years = []
        genres = []
        descriptions = []

        for container in movie_containers:

            if (container.find('span', attrs = {'class': 'genre'}) is not None) and ((container.find_all('p', attrs={'class':'text-muted'})[-1].text) != '\nAdd a Plot\n'):

                name = container.h3.a.text
                names.append(name)

                year = container.h3.find('span', class_ = 'lister-item-year').text
                years.append(year)

                genre = container.find('span', attrs = {'class': 'genre'}).text
                genres.append(genre)

                description = container.find_all('p', attrs={'class':'text-muted'})[-1].text
                descriptions.append(description)
        test_df = pd.DataFrame({'movie': names,
                           'year': years,
                           'genres': genres,
                           'descriptions': descriptions})
        page_movie.append(test_df)

In [21]:
page_movie[0]

,movie,year,genres,descriptions
0,#1915House,(2018),"\nHorror, Thriller",\nA century of secrets are hidden behind the f...
1,#SquadGoals,(2018),"\nDrama, Thriller","\nSamantha is a serious journalist, both for t..."
2,#Victoria,(2018),"\nAction, Drama",\nVictoria moves from out of town into the poo...
3,1 Angry Black Man,(2018),\nDrama,\nMike Anderson is a senior at the quintessent...
4,"1 Dead man, 6 Suspects, $65 Million",(2018),\nMystery,"\nA low budget but slick ""who done it"" involvi..."
...,...,...,...,...
82,A Motion Selfie,(2018),"\nBiography, Comedy, Drama","\n""A Motion Selfie"" is one-of-a-kind DIY filmm..."
83,A Murder of Innocence,(2018),\nCrime,"\nBased on a true story, a community is rocked..."
84,A Natural Disaster,(2018),\nDrama,\n24 hours after an earthquake shakes Los Ange...
85,A Nice Quiet Life,(2018),"\nDrama, Romance",\nTwo college students fall in love one year b...
86,A Night to Regret,(2018),\nThriller,\nWhen Chelsea meets up with her estranged chi...

In [62]:
df = pd.concat(page_movie).reset_index(drop=True)
df

,movie,year,genres,descriptions
0,#1915House,(2018),"\nHorror, Thriller",\nA century of secrets are hidden behind the f...
1,#SquadGoals,(2018),"\nDrama, Thriller","\nSamantha is a serious journalist, both for t..."
2,#Victoria,(2018),"\nAction, Drama",\nVictoria moves from out of town into the poo...
3,1 Angry Black Man,(2018),\nDrama,\nMike Anderson is a senior at the quintessent...
4,"1 Dead man, 6 Suspects, $65 Million",(2018),\nMystery,"\nA low budget but slick ""who done it"" involvi..."
...,...,...,...,...
12360,Zone Drifter,(2021),\nSci-Fi,"\nIn the distant future, a former soldier batt..."
12361,Zooey,(2021),"\nComedy, Drama, Sci-Fi","\nWhen a young boy, Noah, meets Zooey, a young..."
12362,Zwtral,(2021),\nMystery,\nMaking trades is his life. Justin finds hims...
12363,bUMS,(2021),\nDrama,\nAfter spending decades surviving on the stre...
12364,d'ILLUSION: The Houdini Musical,(2021),"\nBiography, Drama, Musical",\nThe University of Cincinnati - College-Conse...

## 2. Data Preparation

### year

In [63]:
df.year.unique()

array(['(2018)', '(I) (2018)', '', '(II) (2018)', '(III) (2018)',
       '(IV) (2018)', '(V) (2018)', '(IX) (2018)', '(XXIII)',
       '(VI) (2018)', '(VIII) (2018)', '(2019)', '(VII)',
       '(XVIII) (2018)', '(I)', '(II)', '(XVI) (2018)', '(II) (2019)',
       '(I) (2019)', '(IV) (2019)', '(V) (2019)', '(III) (2019)',
       '(VI) (2019)', '(VIII) (2019)', '(XXXV) (2019)', '(VII) (2019)',
       '(X) (2019)', '(IX) (2019)', '(XII) (2019)', '(2020)',
       '(III) (2020)', '(II) (2020)', '(I) (2020)', '(XXI) (2020)',
       '(V) (2020)', '(VI) (2020)', '(IV) (2020)', '(2021)',
       '(VIII) (2020)', '(XI) (2020)', '(I) (2021)', '(II) (2021)',
       '(IV) (2021)', '(XII) (2021)', '(III) (2021)', '(V) (2021)',
       '(VI)'], dtype=object)

In [64]:
df.year = df.year.str.extract('(\d+)')
df.year = df.year.ffill(axis = 0)
df.year.unique()

array(['2018', '2019', '2020', '2021'], dtype=object)

In [65]:
df.groupby(['year']).size().reset_index(name='count')

   year  count
0  2018   3359
1  2019   2906
2  2020   2930
3  2021   3170

In [66]:
df.genres = df.genres.str.strip()
df.head()

,movie,year,genres,descriptions
0,#1915House,2018,"Horror, Thriller",\nA century of secrets are hidden behind the f...
1,#SquadGoals,2018,"Drama, Thriller","\nSamantha is a serious journalist, both for t..."
2,#Victoria,2018,"Action, Drama",\nVictoria moves from out of town into the poo...
3,1 Angry Black Man,2018,Drama,\nMike Anderson is a senior at the quintessent...
4,"1 Dead man, 6 Suspects, $65 Million",2018,Mystery,"\nA low budget but slick ""who done it"" involvi..."

In [67]:
all_genres = df.genres.tolist()
all_genres = ", ".join(all_genres)
all_genres = sorted(list(set(all_genres.split(", "))))
all_genres

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [68]:
for g in all_genres:
  df[g] = df["genres"].apply(lambda x: 1 if len(set(x.split(", ")).intersection(set([g]))) > 0 else 0)
df.head()

,movie,year,genres,descriptions,Action,Adventure,Animation,Biography,Comedy,Crime,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,#1915House,2018,"Horror, Thriller",\nA century of secrets are hidden behind the f...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,#SquadGoals,2018,"Drama, Thriller","\nSamantha is a serious journalist, both for t...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,#Victoria,2018,"Action, Drama",\nVictoria moves from out of town into the poo...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1 Angry Black Man,2018,Drama,\nMike Anderson is a senior at the quintessent...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"1 Dead man, 6 Suspects, $65 Million",2018,Mystery,"\nA low budget but slick ""who done it"" involvi...",0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [69]:
df.descriptions = df.descriptions.str.strip()

In [70]:
df.descriptions[df.movie == 'A New Christmas'].values

array(['Kabir is a lonely medical student in New York, estranged from his wife and grieving the loss of his mother. When he meets Kioni, a charming film student from Kenya, she persuades him to ...                See full summary\xa0»'],
      dtype=object)

In [57]:
#df.drop(['genres'], axis='columns', inplace=True)

In [76]:
#df.to_pickle('df.pickle')

In [2]:
df = pd.read_pickle('df.pickle')
df.tail()

,movie,year,genres,descriptions,Action,Adventure,Animation,Biography,Comedy,Crime,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
12360,Zone Drifter,2021,Sci-Fi,"In the distant future, a former soldier battle...",0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12361,Zooey,2021,"Comedy, Drama, Sci-Fi","When a young boy, Noah, meets Zooey, a young g...",0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
12362,Zwtral,2021,Mystery,Making trades is his life. Justin finds himsel...,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12363,bUMS,2021,Drama,After spending decades surviving on the street...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12364,d'ILLUSION: The Houdini Musical,2021,"Biography, Drama, Musical",The University of Cincinnati - College-Conserv...,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
import nltk
from nltk.stem.porter import *
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
import pickle

In [4]:
def stopword_removal(x, stpws=stopwords.words("english")):
  return list(set(x).difference(set(stpws)))

def lemmatization(x, stemmer=PorterStemmer()):
  return [stemmer.stem(i) for i in x]

def number_removal(x):
  return [i for i in x if not i.isnumeric()]

In [5]:
df["corpus"] = df["descriptions"].apply(lambda x: word_tokenize(x))
df["corpus"] = df["corpus"].apply(lambda x: stopword_removal(x))
df["corpus"] = df["corpus"].apply(lambda x: lemmatization(x))
df["corpus"] = df["corpus"].apply(lambda x: number_removal(x))
df["corpus"] = df["corpus"].apply(lambda x: " ".join(x))
corpus = df["corpus"].tolist()

In [6]:
vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(corpus)
X = tfidf.toarray()
y = df.iloc[:, 4:28].values

In [65]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [66]:
X.shape

(12365, 15953)

In [68]:
y

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## Classification without LDA

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [71]:
X_train.shape

(9892, 15953)

In [72]:
X_test.shape

(2473, 15953)

In [73]:
y_train.shape

(9892, 24)

In [74]:
y_test.shape

(2473, 24)

In [75]:
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [10]:
filename = 'clf_withoutLDA.sav'
# pickle.dump(clf, open(filename, 'wb'))
loaded_model = pickle.load(open(filename, 'rb'))

In [13]:
y_hat = loaded_model.predict(X_test)

In [14]:
all_genres = df.genres.tolist()
all_genres = ", ".join(all_genres)
all_genres = sorted(list(set(all_genres.split(", "))))
all_genres

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [15]:
f1 = []
for i in range(len(all_genres)):
  f1.append(f1_score(y_test[:, i], y_hat[:, i]))

C:\Users\SUNG\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1464: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(

In [16]:
from skmultilearn.problem_transform import LabelPowerset

classifier = LabelPowerset(RandomForestClassifier(random_state=42))

# train
classifier.fit(X_train, y_train)

# predict
y_hat = loaded_model.predict(X_test)

## Classification with LDA

In [ ]:
from sklearn.decomposition import LatentDirichletAllocation

lda = LatentDirichletAllocation(n_components=5, random_state=0)